<!DOCTYPE html>
<html>
  <head>
    <% include partials/title %>
    <% include partials/bootstrap %>
    <% include partials/leaflet %>
    <% include partials/chroma %>
    <% include partials/plotly %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% page_name = 'home' %>
    <% include partials/navbar %>
    <div class="container-fluid">

      <div class="row">
        <div class="col">
          <h1>Climate Data Visualization</h1>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-8">
          <% var attr = attribute %>
          <% var data = geojson %>
          <% var sData = stationData %>
          <% include partials/map %>
        </div>
        <div class="col-md-3">
          <form action='/' method='GET'>

            <div class="form-group row align-items-center">
              <label for="dataset_select" class="col-md-3 col-form-label">Dataset</label>
              <div class="col-md-9">
                <select id="dataset_select" name="dataset_select" class="form-control">
                  <option <% if(dataset=='MPI_RF'){ %>selected<% } %>>MPI_RF</option>
                  <option <% if(dataset=='MPI_RCP45'){ %>selected<% } %>>MPI_RCP45</option>
                </select>
              </div>
            </div>

            <div class="form-group row align-items-center">
              <label for="attribute_select" class="col-md-3 col-form-label">Attribute</label>
              <div class="col-md-9">
                <select id="attribute_select" name="attribute_select" class="form-control">
                  <option <% if(attribute=='tas'){ %>selected<% } %> value='tas'>Mean Air Temperautre</option>
                  <option <% if(attribute=='pr'){ %>selected<% } %> value='pr'>Precipitation Flux</option>
                </select>
              </div>
            </div>

            <div class="form-group row align-items-center">
              <label for="frequency_select" class="col-md-3 col-form-label">Frequency</label>
              <div class="col-md-9">
                <select id="frequency_select" name="frequency_select" class="form-control">
                  <option <% if(frequency=='Daily'){ %>selected<% } %>>Daily</option>
                  <option <% if(frequency=='Monthly'){ %>selected<% } %>>Monthly</option>
                  <option <% if(frequency=='Yearly'){ %>selected<% } %>>Yearly</option>
                </select>
              </div>
            </div>

            <div class="form-group row align-items-center">
              <label for="start_date" class="col-md-3 col-form-label">Start Date</label>
              <div class="col-md-9">
                <input type="date" class="form-control" id="start_date" name="start_date" min="<%= date.min %>" max="<%= date.max %>" value="<%= date.start %>" onchange="changeEndDate(event);">
              </div>
            </div>

            <div class="form-group row align-items-center">
              <label for="end_date" class="col-md-3 col-form-label">End Date</label>
              <div class="col-md-9">
                <input type="date" class="form-control" id="end_date" name="end_date" min="<%= date.min %>" max="<%= date.max %>" value="<%= date.end %>">
              </div>
            </div>

            <div class="form-group row align-items-center">
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Visualize</button>
              </div>
            </div>

          </form>

          

          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-success">Play as Animation</button>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <% var gData = graphData %>
        <% include partials/graph %>
      </div>
    </div>

<script>

function changeEndDate(event){
  var startDate = new Date(event.target.value);
  var endDate = new Date(document.getElementById('end_date').value);
  if(startDate > endDate){
    document.getElementById('end_date').value = event.target.value;
  }
}

</script>

  </body>
</html>
